<div class="top-pane">
  <fa-icon [icon]="faPlay"></fa-icon>
</div>

<div class="main-container">
  <!-- Non-Resizable Left Pane -->
  <div class="left-pane">
  </div>

  <!-- Resizable Right Pane -->
  <as-split direction="vertical" [gutterSize]="3" (dragEnd)="onGutterResize()">
    <!-- Top Resizable Pane -->
    <as-split-area>
      <div style="height: 100%; display: flex; flex-direction: column;">
        <ngx-monaco-editor
          style="flex: 1;"
          [options]="options"
          [(ngModel)]="code"
          (onInit)="onInit($event)">
        </ngx-monaco-editor>
      </div>
    </as-split-area>

    <!-- Bottom Resizable Pane -->
    <as-split-area [size]="50">
      <div class="bottom-pane">
        <!-- Fixed Control Bar -->
        <div class="control-bar">
          Bar
        </div>
        <!-- Horizontal Split Pane -->
        <div class="horizontal-split">
          <as-split direction="horizontal" [gutterSize]="3">
            <as-split-area [size]="80">
              <div class="pagination-container">
                <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
                <span>Page {{ page }} of {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
              </div>
              <ngx-datatable
                class="material"
                [rows]="paginatedRows"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="50"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [externalPaging]="true">
              </ngx-datatable>
            </as-split-area>
            <as-split-area [size]="20"></as-split-area>
          </as-split>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
