<div class="top-pane">
  <h1>Top Pane</h1>
</div>

<div class="main-container">
  <!-- Non-Resizable Left Pane -->
  <div class="left-pane">
    <h2>Non-Resizable Left Pane</h2>
  </div>

  <!-- Resizable Right Pane -->
  <as-split direction="vertical" [gutterSize]="3" (dragEnd)="onGutterResize()">
    <!-- Top Resizable Pane -->
    <as-split-area>
      <div style="height: 100%; display: flex; flex-direction: column;">
        <ngx-monaco-editor
          style="flex: 1;"
          [options]="options"
          [(ngModel)]="code"
          (onInit)="onInit($event)">
        </ngx-monaco-editor>
      </div>
    </as-split-area>

    <!-- Bottom Resizable Pane -->
    <as-split-area [size]="50">
      <div class="control-bar">Bar</div>
      <as-split direction="horizontal" [gutterSize]="3">
        <!-- Left Bottom Pane -->
        <as-split-area [size]="80"></as-split-area>
        <!-- Right Bottom Pane -->
        <as-split-area [size]="20"></as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
